{{#equal receiver sendFrom}}

  <div class="single-bulb self">

    <div class="bulb " id="{{ id }}">

      <div class="bulb-content ">{{ message }}</div>
      <span class="bulb-timestamp ">{{ date }}</span>

    </div>

  </div>

{{/equal}}

{{#notEqual receiver sendFrom}}

  <div class="single-bulb">

    <div class="bulb " id="{{ id }}">

      <div class="bulb-content ">{{ message }}</div>
      <span class="bulb-timestamp ">{{ date }}</span>

    </div>

  </div>

{{/notEqual}}



